/* Page */

.page {
	height: 100%;
	font-family: system-ui, sans-serif;
	font-size: 18px;
	line-height: 1.2;
}

.page__main {
	display: flex;
	flex-direction: column;
	gap: 20px;

	margin: 12px 100px;
}

.page__body {
	padding-bottom: 25px;
}
