/* Base */

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    padding: 24px;

    background-color: gainsboro;
    border-radius: 10px;
}

.description__card {
    display: flex;
    flex-direction: column;
    width: min-content;
    
    background-color: aliceblue;

    border-radius: 15px;
    padding: 24px;
}

.description button {
    margin: 20px 0px;
    height: 45px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(119, 225, 209);
}

.description button:hover {
    cursor: pointer;
    background-color: rgb(54, 180, 161);
    transition: background-color 0.8s;
}

.description img {
    border-radius: 15px;
    height: 290px;
    width: 290px;
}
